# dependencies
node_modules

# production
dist

# environment variables
.env
.env.local
.env.*.local

# editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lock file (optional - remove this line if deploying to CI/CD)
package-lock.json
