.recipe-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 3px 10px 0 #aaa;
  border-radius: 20px;
  width: 300px;
}

.recipe-image {
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}

.recipe-name {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 10px;
}

.recipe-btn {
  font-size: 18px;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px 15px;
  color: black;
  text-align: center;
  margin-bottom: 12px;
  border-radius: 20px;
  background: white;
  transition: background-color 0.3s ease;
}

.recipe-btn:hover {
  background-color: #fcd667;
}