.category-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-btn {
  background-color: transparent;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 10px 0 #aaa;
}

.category-btn:hover {
  background-color: #fcd667;
}

.category-icon {
  width: 100px;
  height: 100px;
}

.category-text {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 700;
}